<div class="container">
  <h2>Results:</h2>
  <ul class="">
    {{#each results}}
    <li>{{position}}: {{output}}</li>
    {{/each}}
  </ul>
</div>

<style>
.container {
  width: 500px;
  max-width: 80%;
  margin: 0 auto;
}
</style>
